In [1]:
import pandas as pd

In [2]:
data=pd.read_excel("C:\\Users\\admin\\Downloads\\netflix_titles.xlsx")

In [3]:
data.head()

,duration_minutes,duration_seasons,type,title,date_added,release_year,rating,description,show_id
0,90,NaN,Movie,Norm of the North: King Sized Adventure,2019-09-09 00:00:00,2019.0,TV-PG,Before planning an awesome wedding for his gra...,81145628.0
1,94,NaN,Movie,Jandino: Whatever it Takes,2016-09-09 00:00:00,2016.0,TV-MA,Jandino Asporaat riffs on the challenges of ra...,80117401.0
2,NaN,1,TV Show,Transformers Prime,2018-09-08 00:00:00,2013.0,TV-Y7-FV,"With the help of three human allies, the Autob...",70234439.0
3,NaN,1,TV Show,Transformers: Robots in Disguise,2018-09-08 00:00:00,2016.0,TV-Y7,When a prison ship crash unleashes hundreds of...,80058654.0
4,99,NaN,Movie,#realityhigh,2017-09-08 00:00:00,2017.0,TV-14,When nerdy high schooler Dani finally attracts...,80125979.0

In [4]:
data.shape

(6236, 9)

In [5]:
data.isnull().sum()

duration_minutes    1969
duration_seasons    4265
type                   1
title                  1
date_added            13
release_year           2
rating                13
description            3
show_id                4
dtype: int64

In [6]:
import numpy as np

In [7]:
data.dropna(subset=['date_added','rating'], inplace=True)
data.isna().sum()

duration_minutes    1957
duration_seasons    4256
type                   0
title                  0
date_added             0
release_year           0
rating                 0
description            0
show_id                1
dtype: int64

In [8]:
data["date_added"]=pd.to_datetime(data["date_added"])
data.head()

,duration_minutes,duration_seasons,type,title,date_added,release_year,rating,description,show_id
0,90,NaN,Movie,Norm of the North: King Sized Adventure,2019-09-09,2019.0,TV-PG,Before planning an awesome wedding for his gra...,81145628.0
1,94,NaN,Movie,Jandino: Whatever it Takes,2016-09-09,2016.0,TV-MA,Jandino Asporaat riffs on the challenges of ra...,80117401.0
2,NaN,1,TV Show,Transformers Prime,2018-09-08,2013.0,TV-Y7-FV,"With the help of three human allies, the Autob...",70234439.0
3,NaN,1,TV Show,Transformers: Robots in Disguise,2018-09-08,2016.0,TV-Y7,When a prison ship crash unleashes hundreds of...,80058654.0
4,99,NaN,Movie,#realityhigh,2017-09-08,2017.0,TV-14,When nerdy high schooler Dani finally attracts...,80125979.0

In [9]:
data.isnull().sum()

duration_minutes    1957
duration_seasons    4256
type                   0
title                  0
date_added             0
release_year           0
rating                 0
description            0
show_id                1
dtype: int64

In [10]:
data.head()

,duration_minutes,duration_seasons,type,title,date_added,release_year,rating,description,show_id
0,90,NaN,Movie,Norm of the North: King Sized Adventure,2019-09-09,2019.0,TV-PG,Before planning an awesome wedding for his gra...,81145628.0
1,94,NaN,Movie,Jandino: Whatever it Takes,2016-09-09,2016.0,TV-MA,Jandino Asporaat riffs on the challenges of ra...,80117401.0
2,NaN,1,TV Show,Transformers Prime,2018-09-08,2013.0,TV-Y7-FV,"With the help of three human allies, the Autob...",70234439.0
3,NaN,1,TV Show,Transformers: Robots in Disguise,2018-09-08,2016.0,TV-Y7,When a prison ship crash unleashes hundreds of...,80058654.0
4,99,NaN,Movie,#realityhigh,2017-09-08,2017.0,TV-14,When nerdy high schooler Dani finally attracts...,80125979.0

In [11]:
from sklearn.impute import SimpleImputer

In [14]:
data["duration_minutes"].describe()

count     4256
unique     185
top         90
freq       111
Name: duration_minutes, dtype: int64

In [15]:
imp_num=SimpleImputer(missing_values=np.NaN,strategy='median')

In [16]:
missing_num_col=["duration_minutes"]

In [17]:
data[missing_num_col]=imp_num.fit_transform(data[missing_num_col])

In [18]:
data.head()

,duration_minutes,duration_seasons,type,title,date_added,release_year,rating,description,show_id
0,90.0,NaN,Movie,Norm of the North: King Sized Adventure,2019-09-09,2019.0,TV-PG,Before planning an awesome wedding for his gra...,81145628.0
1,94.0,NaN,Movie,Jandino: Whatever it Takes,2016-09-09,2016.0,TV-MA,Jandino Asporaat riffs on the challenges of ra...,80117401.0
2,98.0,1,TV Show,Transformers Prime,2018-09-08,2013.0,TV-Y7-FV,"With the help of three human allies, the Autob...",70234439.0
3,98.0,1,TV Show,Transformers: Robots in Disguise,2018-09-08,2016.0,TV-Y7,When a prison ship crash unleashes hundreds of...,80058654.0
4,99.0,NaN,Movie,#realityhigh,2017-09-08,2017.0,TV-14,When nerdy high schooler Dani finally attracts...,80125979.0

In [20]:
data["duration_seasons"].describe()

count     1957
unique      15
top          1
freq      1319
Name: duration_seasons, dtype: int64

In [21]:
imp_cat=SimpleImputer(missing_values=np.NaN,strategy='most_frequent')

In [22]:
missing_cat_col=["duration_seasons"]

In [23]:
data[missing_cat_col]=imp_cat.fit_transform(data[missing_cat_col])

In [24]:
data.head()

,duration_minutes,duration_seasons,type,title,date_added,release_year,rating,description,show_id
0,90.0,1,Movie,Norm of the North: King Sized Adventure,2019-09-09,2019.0,TV-PG,Before planning an awesome wedding for his gra...,81145628.0
1,94.0,1,Movie,Jandino: Whatever it Takes,2016-09-09,2016.0,TV-MA,Jandino Asporaat riffs on the challenges of ra...,80117401.0
2,98.0,1,TV Show,Transformers Prime,2018-09-08,2013.0,TV-Y7-FV,"With the help of three human allies, the Autob...",70234439.0
3,98.0,1,TV Show,Transformers: Robots in Disguise,2018-09-08,2016.0,TV-Y7,When a prison ship crash unleashes hundreds of...,80058654.0
4,99.0,1,Movie,#realityhigh,2017-09-08,2017.0,TV-14,When nerdy high schooler Dani finally attracts...,80125979.0

In [25]:
data.isnull().sum()

duration_minutes    0
duration_seasons    0
type                0
title               0
date_added          0
release_year        0
rating              0
description         0
show_id             1
dtype: int64

In [28]:
data["release_year"]=data["release_year"].astype(int)

In [29]:
data.head()

,duration_minutes,duration_seasons,type,title,date_added,release_year,rating,description,show_id
0,90.0,1,Movie,Norm of the North: King Sized Adventure,2019-09-09,2019,TV-PG,Before planning an awesome wedding for his gra...,81145628.0
1,94.0,1,Movie,Jandino: Whatever it Takes,2016-09-09,2016,TV-MA,Jandino Asporaat riffs on the challenges of ra...,80117401.0
2,98.0,1,TV Show,Transformers Prime,2018-09-08,2013,TV-Y7-FV,"With the help of three human allies, the Autob...",70234439.0
3,98.0,1,TV Show,Transformers: Robots in Disguise,2018-09-08,2016,TV-Y7,When a prison ship crash unleashes hundreds of...,80058654.0
4,99.0,1,Movie,#realityhigh,2017-09-08,2017,TV-14,When nerdy high schooler Dani finally attracts...,80125979.0

In [30]:
data["rating"].unique()

array(['TV-PG', 'TV-MA', 'TV-Y7-FV', 'TV-Y7', 'TV-14', 'R', 'TV-Y', 'NR',
       'PG-13', 'TV-G', 'PG', 'G', 'UR', 'NC-17'], dtype=object)

In [39]:
data.rename(columns={"rating":"maturity_rating"},inplace=True)

In [40]:
data

,duration_minutes,duration_seasons,type,title,date_added,release_year,maturity_rting,description,show_id
0,90.0,1,Movie,Norm of the North: King Sized Adventure,2019-09-09,2019,TV-PG,Before planning an awesome wedding for his gra...,81145628.0
1,94.0,1,Movie,Jandino: Whatever it Takes,2016-09-09,2016,TV-MA,Jandino Asporaat riffs on the challenges of ra...,80117401.0
2,98.0,1,TV Show,Transformers Prime,2018-09-08,2013,TV-Y7-FV,"With the help of three human allies, the Autob...",70234439.0
3,98.0,1,TV Show,Transformers: Robots in Disguise,2018-09-08,2016,TV-Y7,When a prison ship crash unleashes hundreds of...,80058654.0
4,99.0,1,Movie,#realityhigh,2017-09-08,2017,TV-14,When nerdy high schooler Dani finally attracts...,80125979.0
...,...,...,...,...,...,...,...,...,...
6220,98.0,2,TV Show,Talking Tom and Friends,2019-04-10,2017,TV-G,Full of funny one-liners and always ready for ...,80162994.0
6221,98.0,2,TV Show,Pokémon the Series,2019-04-01,2019,TV-Y7-FV,Ash and his Pikachu travel to the Alola region...,80186475.0
6222,98.0,2,TV Show,Justin Time,2016-04-01,2012,TV-Y,"In Justin's dreams, he and his imaginary frien...",70272742.0
6223,98.0,2,TV Show,Terrace House: Boys & Girls in the City,2016-04-01,2016,TV-14,A new set of six men and women start their liv...,80067942.0
6224,98.0,8,TV Show,Weeds,2014-04-01,2012,TV-MA,A suburban mother starts selling marijuana to ...,70136122.0

In [43]:
data.to_excel("file.xlsx")

In [44]:
data["title"].unique()

array(['Norm of the North: King Sized Adventure',
       'Jandino: Whatever it Takes', 'Transformers Prime', ...,
       'Justin Time', 'Terrace House: Boys & Girls in the City', 'Weeds'],
      dtype=object)